/* General styles for the sidebar */
.sidebar {
    width: 120px;
    background-color: #2f3653;
    height: 100vh;
    padding: 20px 0;
    flex-direction: column;

}

#logo_sidebar{
    background-image: url('../images/logo_sidebar.png');
    background-size: contain; /* Ajusta la imagen para que se vea completa */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen horizontalmente */
    height: 95px; /* Ajusta el tamaño del contenedor */
    margin: 0 auto; /* Asegura que el contenedor esté centrado */
    padding-top: 20px; /* Ajusta el espacio superior para reducir el vacío */
    margin-bottom: 30px;
    display: flex;
    justify-content: center; /* Alinea el contenido en el centro horizontalmente */
    align-items: center; /* Alinea el contenido en el centro verticalmente */
}

.sidebar .nav-list {
    list-style: none;
    padding: 0;
}

.sidebar .nav-list li {
    margin-bottom: 5px;
}

/* Cambiamos el layout de los enlaces para centrar el icono sobre el texto */
.sidebar .nav-list li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #F6F4F4;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Istok Web', sans-serif;
}

.sidebar .nav-list li a:hover {
    background-color: #394362;
}
/* Estilos para los iconos personalizados, aseguramos el centrado */
.sidebar .nav-list li a i {
    font-size: 24px; /* Tamaño del ícono */
    margin-bottom: 5px; /* Espacio entre ícono y texto */
}

/* Estilos para los iconos personalizados */
.icon-dashboard {
    content: url('../images/dashboard.png');
    width: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.icon-usuarios {
    content: url('../images/icon_male_user.png'); 
    width: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.icon-entradas {
    content: url('../images/ticket.png');
    width: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.icon-peliculas {
    content: url('../images/movie.png');
    width: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.icon-ofertas {
    content: url('../images/discount.png');
    width: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/*FUENTES*/
.istok-web-regular {
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .istok-web-bold {
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .istok-web-regular-italic {
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .istok-web-bold-italic {
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

